<?xml version="1.0"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find hummanoid)/worlds/my_world.world"/>
        <arg name="paused" value="false" />
        <arg name="use_sim_time" value="true" />
        <arg name="gui" value="true" />
        <arg name="recording" value="false" />
        <arg name="debug" value="false" />
    </include>
    <param name="robot_description"
        command="$(find xacro)/xacro '$(find 
hummanoid)/urdf/my_robot.xacro'" />
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description 
-urdf -model my_robot" output="screen" />
    <param name="robot_description" command="xacro '$(find hummanoid)/urdf/my_robot.xacro'" />
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="False" />
    </node>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find hummanoid)/rviz/config.rviz"/>

    <node pkg="tf" type="static_transform_publisher" name="chassis_to_base_frame" args="0 0 0 0 0 0 1 base_footprint chassis 100" />

    <node name="map_server" pkg="map_server" type="map_server" args="$(find hummanoid)/maps/map.yaml" />

<!--    <node name="amcl" pkg="amcl" type="amcl">
        <remap from="scan" to="/laser/scan"/>
        <param name="base_frame_id" value="base_footprint"/>
    </node>-->

<!--    <node name="move_base" pkg="move_base" type="move_base" output="screen">
        <remap from="scan" to="/laser/scan"/>
        <param name="base_global_planner" value="global_planner/GlobalPlanner"/>
        <param name="base_local_planner" value="base_local_planner/TrajectoryPlannerROS"/>
    
        <rosparam command="load" file="$(find hummanoid)/config/global_costmap_params.yaml" />
        <rosparam command="load" file="$(find hummanoid)/config/local_costmap_params.yaml" />
        <rosparam command="load" file="$(find hummanoid)/config/base_local_planner_params.yaml" />
        <rosparam command="load" file="$(find hummanoid)/config/base_global_planner.yaml" />
    </node>-->



  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="model" default="waffle" doc="model type [burger, waffle, waffle_pi]"/>


  <!-- AMCL -->
  <node pkg="amcl" type="amcl" name="amcl">

    <param name="min_particles"             value="500"/>
    <param name="max_particles"             value="3000"/>
    <param name="kld_err"                   value="0.02"/>
    <param name="update_min_d"              value="0.20"/>
    <param name="update_min_a"              value="0.20"/>
    <param name="resample_interval"         value="1"/>
    <param name="transform_tolerance"       value="0.5"/>
    <param name="recovery_alpha_slow"       value="0.00"/>
    <param name="recovery_alpha_fast"       value="0.00"/>
    <param name="initial_pose_x"            value="$(arg initial_pose_x)"/>
    <param name="initial_pose_y"            value="$(arg initial_pose_y)"/>
    <param name="initial_pose_a"            value="$(arg initial_pose_a)"/>
    <param name="gui_publish_rate"          value="50.0"/>
    
    <remap from="scan" to="/laser/scan"/>
    <param name="laser_max_range"           value="3.5"/>
    <param name="laser_max_beams"           value="180"/>
    <param name="laser_z_hit"               value="0.5"/>
    <param name="laser_z_short"             value="0.05"/>
    <param name="laser_z_max"               value="0.05"/>
    <param name="laser_z_rand"              value="0.5"/>
    <param name="laser_sigma_hit"           value="0.2"/>
    <param name="laser_lambda_short"        value="0.1"/>
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <param name="laser_model_type"          value="likelihood_field"/>

    <param name="odom_model_type"           value="diff"/>
    <param name="odom_alpha1"               value="0.1"/>
    <param name="odom_alpha2"               value="0.1"/>
    <param name="odom_alpha3"               value="0.1"/>
    <param name="odom_alpha4"               value="0.1"/>
    <param name="odom_frame_id"             value="odom"/>
    <param name="base_frame_id"             value="base_footprint"/>
    </node>
    <arg name="move_forward_only" default="false"/>
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
        <rosparam file="$(find hummanoid)/param/costmap_common_params_$(arg model).yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find hummanoid)/param/costmap_common_params_$(arg model).yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find hummanoid)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find hummanoid)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find hummanoid)/param/move_base_params.yaml" command="load" />
        <rosparam file="$(find hummanoid)/param/dwa_local_planner_params_$(arg model).yaml" command="load" />
        <remap from="scan" to="/laser/scan"/>
        <param name="DWAPlannerROS/min_vel_x" value="0.0" if="$(arg move_forward_only)" />
      </node>
    
</launch>
